.edit-form__input {
    width: 358px;
    height: 27px;
    border-width: 1px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    padding: 0 0 13px 0;
}

@media screen and (max-width: 767px) {
    .edit-form__input {
        width: 238px;
    }
}